.border-shadow {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
}

.card-border {
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}

.border-bottom-3 {
  border-bottom: 3px solid #00807E;
}

.border-bottom-1 {
  border-bottom: 1px solid #00807E;
}

.border-radius-0 {
  border-radius: 0;
}